{% extends 'base.html'%} {% block content%}
<p><a href="{% url 'todo_list'%}">Back</a></p>
<h1>Update item</h1>

<form method="post">
  {% csrf_token %} {{ form.as_p}}
  <button>Create</button>
</form>
{% endblock content%}
