{% extends 'base.html' %} {% block content %}
<div>
  <h1>{{ todo_list_list }}</h1>
  <p><a href="{% url 'todo_list'%}">Back</a></p>
  <p><a href="{% url 'todo_list_update' todo_items.id %}">Edit</a></p>
  <p><a href="{% url 'todo_list_delete' todo_items.id %}">Delete</a></p>
  <p><a href="{% url 'todo_item_create'%}">Create a new item</a></p>

  <h2>Tasks</h2>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      {% for item in todo_items.items.all %}
      <tr>
        <td><a href="{% url 'todo_item_update' todo_items.id%}">{{item.task}}</td>

        <td>{{item.due_date|date:"M j, Y" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
