{% extends 'base.html' %}

{% block content %}
<div>
  <h1>My List</h1>
  <p><a href="{% url 'todo_list_create' %}">Create a new list</a></p>
  <p><a href="{% url 'todo_item_create'%}">Create a new item</a></p>
  <table>
    <thead>
      <th>Name</th>
      <th>Number of items</th>
    </thead>
    <tbody>
      {% for todo_list in todo_list_list %}

      <tr>
        {% comment %} <td>{{ todo_list.name }}</td> {% endcomment %}
        <td><a href="{% url 'todo_list_detail' todo_list.id %}">{{ todo_list.name }}</td>
          <td>{{ todo_list.items.count}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
